<div class="navbar-container">
  <img class="logo" src="assets/images/nyan-cat.png" alt="Nyan Cat with background">
  <div class="navigation">
    <div class="navigation-item"><a routerLink="/cat-facts" routerLinkActive="active">Cat Facts</a></div>
    <div class="navigation-item"><a routerLink="/sign-up" routerLinkActive="active">Sign Up</a></div>
    <div class="navigation-item"><a routerLink="/raining-cats" routerLinkActive="active">Raining Cats</a></div>
  </div>
  <h1 class="title">Cats Facts!</h1>
</div>
