/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #11ffF3 }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  .header, .search-bar-container {
    margin-left: 10px;
    margin-right: 10px;
  }
}
button  {
  background-color: #012f68;
  color: aliceblue;
  font-weight: bold;
  border-radius: 20px;
}

button:disabled {
  opacity: 0.6;
}
